benchmarks
prototypes
data
packaging/appimage
scripts/release
build
dist
htmlcov
docs
examples
client
.git
.tox
.dockerignore
Dockerfile
docker-compose.yml
dask-worker-space
__pycache__
tmp
.ipynb_checkpoints
*.egg-info
coverage.xml
.coverage*
.pytest_cache
node_modules
*.AppImage
AppDir
Miniconda3-latest-Linux-x86_64.sh
MANIFEST
.vscode
pip-wheel-metadata
*Thumbs.db
*.DS_Store
*.idea
.mypy_cache/
.benchmarks
junit.xml
*.prof
.vscode-server
corporatedesign
