language: python
cache:
  - pip
  - directories:
    - client/node_modules/

install:
  - pip install tox

script:
  - tox

after_success:
  - bash <(curl -s https://codecov.io/bash) -f coverage.xml -f client/coverage/coverage-final.json

jobs:
  include:
    - stage: test
      python: 3.6
      env: TOXENV=py36
    - stage: test
      python: 3.7
      env: TOXENV=py37
      dist: xenial
      sudo: true
    - stage: test
      python: 3.7
      env: TOXENV=flake8
    - stage: test
      python: 3.7
      env: TOXENV=qa
    - stage: test
      python: 3.7
      env: TOXENV=docs-deploy
    - stage: test
      language: node_js
      node_js:
        - 8
      install:
        - (cd client && npm install)
      script:
        - (cd client && npm run build)
        - (cd client && npm test -- --coverage)

    - stage: packaging
      sudo: require
      dist: trusty
      script:
        - bash -ex packaging/appimage/make_app_image.sh
        - ls -lh
      after_success:
        - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh && bash -c "chmod +x upload.sh && ./upload.sh LiberTEM*.AppImage* dist/*"

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
