trigger:
- master

variables:
  - name: PIP_CACHE_DIR
    value: $(Pipeline.Workspace)/.pip

stages:
  - stage: test
    jobs:
    - job: data_tests
      pool: DataAccess
      strategy:
        matrix:
          # 3.6: oldest version
          Python36:
            python.version: '3.6'
            TOXENV: 'py36'
          # 3.7: default in current Debian stable
          Python37:
            python.version: '3.7'
            TOXENV: 'py37'
          # Python38:
          #   python.version: '3.8'
          #   TOXENV: 'py38'
          # Most recent supported version
          Python39:
            python.version: '3.9'
            TOXENV: 'py39'
      variables:
        TOXENV: 'data'
        TESTDATA_BASE_PATH: '/data/'
      steps:
      - bash: find /data/
        displayName: 'list available data'

      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '$(python.version)'

      - task: Cache@2
        inputs:
          key: 'python | "$(Agent.OS)" | test_requirements.txt'
          restoreKeys: |
            python | "$(Agent.OS)"
            python
          path: $(PIP_CACHE_DIR)
        displayName: 'cache pip packages'

      - bash: python3.9 -m venv venv
        displayName: 'create venv'
    
      - bash: ./venv/bin/pip install tox
        displayName: 'install tox'

      - bash: ./venv/bin/tox
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
