trigger:
- master

stages:
  - stage: test
    jobs:
    - job: data_tests
      pool: DataAccess
      variables:
        TOXENV: 'py38'
        TESTDATA_BASE_PATH: '/data/'
      steps:
      - bash: find /data/
        displayName: 'list available data'

      - bash: python3.8 -m venv venv
        displayName: 'create venv'
    
      - bash: ./venv/bin/pip install tox
        displayName: 'install tox'

      - bash: ./venv/bin/tox -- tests/io/
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
