trigger:
- master

variables:
  - group: Packaging

stages:
  - stage: test
    jobs:
    - job: linux_tests
      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        matrix:
          Python36:
            python.version: '3.6'
            TOXENV: 'py36'
          Python37:
            python.version: '3.7'
            TOXENV: 'py37'
          Python38:
            python.version: '3.8'
            TOXENV: 'py38'
      variables:
        TOXENV: '$(TOXENV)'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '$(python.version)'

      - bash: pip install -U tox
        displayName: 'install requirements'

      - bash: tox
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

    - job: numba_coverage
      pool:
        vmImage: 'ubuntu-latest'
      variables:
        TOXENV: 'numba_coverage'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '3.8'

      - bash: pip install -U tox
        displayName: 'install requirements'

      - bash: tox
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

    - job: lint
      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        matrix:
          flake8:
            TOXENV: 'flake8'
          qa:
            TOXENV: 'qa'
          docs-check:
            TOXENV: 'docs-check'
      variables:
        TOXENV: '$(TOXENV)'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '3.8'
      - bash: sudo apt install -y pandoc
        displayName: install required debian packages
      - bash: pip install -U tox
        displayName: 'install requirements'
      - bash: tox
        displayName: 'Run tox tests'

    - job: lint_allow_failure
      pool:
        vmImage: 'ubuntu-latest'
      strategy:
        matrix:
          mypy:
            TOXENV: 'mypy'
      variables:
        TOXENV: '$(TOXENV)'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '3.8'
      - bash: pip install -U tox
        displayName: 'install requirements'
      - bash: tox || exit 0
        displayName: 'Run tox tests'

    - job: windows_tests
      pool:
        vmImage: 'windows-latest'
      strategy:
        matrix:
          Python36:
            python.version: '3.6'
            TOXENV: 'py36'
          Python37:
            python.version: '3.7'
            TOXENV: 'py37'
          Python38:
            python.version: '3.8'
            TOXENV: 'py38'
      variables:
        TOXENV: '$(TOXENV)'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '$(python.version)'

      - bash: pip install -U tox
        displayName: 'install requirements'

      - bash: tox
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

    - job: macos_tests
      pool:
        vmImage: 'macOS-latest'
      strategy:
        matrix:
          Python36:
            python.version: '3.6'
            TOXENV: 'py36'
          Python37:
            python.version: '3.7'
            TOXENV: 'py37'
          Python38:
            python.version: '3.8'
            TOXENV: 'py38'
      variables:
        TOXENV: '$(TOXENV)'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python $(python.version)'
        inputs:
          versionSpec: '$(python.version)'

      - bash: pip install -U tox
        displayName: 'install requirements'

      - bash: tox
        displayName: 'Run tox tests'

      - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml
        displayName: 'Submit coverage to codecov.io'

      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          testResultsFiles: 'junit.xml'
          testRunTitle: 'Publish test results for Python $(python.version)'

      - task: PublishCodeCoverageResults@1
        inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

    - job: node_tests
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '12'
      - bash: (cd client && npm install)
        displayName: 'install npm dependencies'

      - bash: (cd client && npm run build)
        displayName: 'ensure the typescript build works'

      - bash: (cd client && CI=1 npm test -- --coverage --all)
        displayName: 'run client tests'

      - bash: (cd client && npm run lint)
        displayName: 'run client linter'

      - bash: bash <(curl -s https://codecov.io/bash) -f client/coverage/coverage-final.json
        displayName: 'Submit coverage to codecov.io'

    - job: distributed_tests
      pool:
        vmImage: 'ubuntu-latest'
      variables:
        DASK_SCHEDULER_ADDRESS: tcp://localhost:8786
        DOCKER_BUILDKIT: "1"
      steps:

      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.7'

      - bash: pip install -U tox 'virtualenv>19' pip-tools
        displayName: 'install requirements'

      - script: |
          cd packaging/docker/
          ./update_reqs.sh
          docker pull libertem/libertem-dev || true
          docker build --cache-from=libertem/libertem-dev -t libertem/libertem-dev --build-arg BUILDKIT_INLINE_CACHE=1 ../../ -f Dockerfile
          # make this succeed even if the access token is not available:
          (docker login -u sk1p -p $(DOCKER_ACCESS_TOKEN) && docker push libertem/libertem-dev) || true
        displayName: 'Build docker container(s)'

      - bash: (cd packaging/docker/ && docker-compose run tests)
        displayName: 'run tests'

  - stage: deploy
    jobs:
    - job: deploy_docs
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python 3.8'
        inputs:
          versionSpec: '3.8'
      - bash: sudo apt install -y pandoc
        displayName: 'install required debian packages'

      - bash: pip install -U tox && pip install -r scripts/requirements.txt
        displayName: 'install requirements'

      - bash: tox -e docs-build-ci
        displayName: 'build docs'

      - task: DownloadSecureFile@1
        inputs:
          secureFile: deploy_key
        displayName: 'Get the deploy key'

      - script: |
          mkdir ~/.ssh && mv $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
          chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

      - bash: ./scripts/deploy_docs docs/build/html/
        displayName: 'deploy docs'
        condition: |
            and(not(eq(variables['Build.Reason'], 'PullRequest')),
                eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    - job: make_upload_packages
      pool:
        vmImage: 'ubuntu-latest'
      steps:
      - task: UsePythonVersion@0
        displayName: 'Use Python 3.8'
        inputs:
          versionSpec: '3.8'
      - bash: pip install -U tox && pip install -r scripts/requirements.txt
        displayName: 'install requirements'
      - bash: python scripts/release upload --pypi-test-user=libertem_bot --pypi-user=libertem_bot --no-dry-run
        displayName: 'Upload packages / release'


# Initial Azure pipeline for evaluation regarding running a on-premise agent
# which has access to non-published data sets
# - job: dataset_tests
#   pool: DataAccess
#   variables:
#     TOXENV: 'py36'
#     LT_TEST_DATA_PATH: '/cachedata/users/clausen/libertem-test-data'
#   steps:
#   - bash: python3 -m venv venv
#     displayName: 'create venv'
# 
#   - bash: ./venv/bin/pip install tox
#     displayName: 'install tox'
# 
#   - bash: ./venv/bin/tox
#     displayName: 'Run tox tests'
# 
#   - bash: bash <(curl -s https://codecov.io/bash) -f coverage.xml -f client/coverage/coverage-final.json
#     displayName: 'Submit coverage to codecov.io'
