graft src
graft src/libertem/web/client
include LICENSE
include README.rst
graft client/src
graft client/public
graft client/types
include client/*.*js*
include client/README.md
graft tests
include conftest.py
include pytest.ini
include test_requirements.txt
include tox.ini
global-exclude *.pyc *.nbi *.nbc __pycache__
