graft src
include LICENSE
include README.rst
graft client
prune client/node_modules
prune client/build
prune client/coverage
graft tests
include conftest.py
include pytest.ini
include test_requirements.txt
include tox.ini
